fastapi
uvicorn
python-multipart
pillow
pymongo
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-socketio
google-generativeai
google-cloud-vision
cloudinary
pytesseract
PyMuPDF
pydantic
motor
bcrypt
requests
jinja2
aiofiles
